#nav{
    width: 100%;
    margin: 0;
    background-color: darkorange;
}
#logo{
    width: 0.5px;
    background-color: transparent;
    padding-top: 0.25%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -5%;
    position: absolute;
}
#txt{
    width: 60%;
    height: 30px;
    background-color: lightsalmon;
    margin-top: 1.25%;
    margin-bottom: 1.5%;
    margin-left: 5%;
    border-radius: 5px;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
#search{
    width: 10%;
    height: 40px;
    background-color: orange;
    margin-bottom: 1%;
    margin-left: 5%;
    border-radius: 10px;
    cursor: pointer;
}